@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;400;500;600;700&display=swap');
//$bgCol: rgb(230, 230, 221);
$bgCol: rgb(230, 230, 221);
$linkCol: rgb(95, 95, 90);
$regFont: 'Karla', sans-serif;